---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, I'm Rizky, a data scientist and financial forecaster from Indonesia 🇮🇩.
      <br />
      <br />
      My primary tools of choice includes:
      <ul class="list-inside list-disc">
        <li>Python</li>
        <li>SQL</li>
        <li>TensorFlow</li>
        <li>PyTorch</li>
        <li>Tableau</li>
        <li>Bash</li>
        <li>LaTeX</li>
        <li>Trello</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      Outside of coding, I'm passionate about the NFL, the NBA, a wide range of music, and traveling. Fun fact, I'm a word of affirmation guy
    </p>
  </div>
</Card>
